:root {
  --bg-color: #E8E3B5;         /* Light Cream */
  --primary-color: #62643c;    /* Avocado Green */
  --secondary-color: #D7E9B0;  /* Soft Green */
  --accent-color: #F5F5DC;     /* Beige */
  --text-color: #4B4D3A;       /* Dark Olive */
  --white: #FFFFFF;            /* White */
  --black: #000000;            /* Black */
}

.contact {
  background-color: var(--accent-color);
  padding-bottom: 60px;
}

.form-box h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.primaryBtn {
  background-color: var(--primary-color) !important; /* Avocado Green */
  color: var(--white) !important;
  border: 2px solid var(--primary-color) !important;
  font-weight: bold;
  transition: all 0.3s ease;
}

.primaryBtn:hover {
  background-color: var(--secondary-color) !important; /* Soft Green */
  color: var(--primary-color) !important;
  border-color: var(--primary-color);
}
